In [2]:
Name='Shivam'
last='Chahar'
print(Name)
print(last)

Shivam
Chahar

In [3]:
x=34
y=78
x+y

112

In [4]:
age=25
if age>=30:
    print(age)
print("age is",age)

age is 25

In [5]:
print(f"My age is {age} years")

My age is 25 years

In [6]:
total = 1 + 2 + 2 + 4 + 8 + 7 + 7 + \
4+5+6
print(total)

46

In [7]:
x=9;y=12;z=x+y
z

21

In [8]:
age = 22.4 
name = "Shivam" 
print(type(age))
print(type(name))

<class 'float'>
<class 'str'>

In [27]:
#2nd sheet defining variables

In [9]:
age = 22; height = 5.7; name = "Shivam";stu=True
print("age :", age)
print("Height:", height,type(height))
print("Name:", name,type(name))
print(type(stu))

age : 22
Height: 5.7 <class 'float'>
Name: Shivam <class 'str'>
<class 'bool'>

In [10]:
age = 20
print(type(age))

age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [11]:
Name=str(input("What is your name?"))
print("Your name is ",Name)

Your name is  shivam

In [12]:
age=int(input("Enter Your Age"))
print(age)

21

In [13]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 30.0
Difference: -10.0
Product: 200.0
Quotient: 0.5

In [14]:
age = 22
print(type(age))
height = 5.7
print(height)
print(type(height))

<class 'int'>
5.7
<class 'float'>

In [15]:
name="Shivam"
print(name)
print(type(name))

Shivam
<class 'str'>

In [16]:
t=True
print(type(t))

<class 'bool'>

In [17]:
a=15
b=10
type(a==b)

bool

In [18]:
a="hello"*8
print(a,type(a))

hellohellohellohellohellohellohellohello <class 'str'>

In [19]:
b="hello"+str(11)
print(b)

hello11

In [20]:
a = 15
b = 10
add= a+b 
sub= a-b  
mult= a*b 
div= a/b 
floor= a//b 
modulus= a%b 
exponent= a**b 
print(add)
print(sub)
print(mult)
print(div)
print(floor)
print(modulus)
print(exponent)

25
5
150
1.5
1
5
576650390625

In [21]:
a = 15
b = 5
print(a+b)
print(a-b)
print(a/b)

20
10
3.0

In [22]:
2**(3**5)

14134776518227074636666380005943348126619871175004951664972849610340958208

In [23]:
a = 12
b = 10.1
a == b

False

In [24]:
 str1 = "Shivam"
 str2 = "Shivam"
 print(str1 == str2)
 print(str1!=str2)

True
False

In [25]:
x=True
y=True
r=x and y
print(r)

True

In [26]:
x=False
y=True
r=x and y
print(r)

False

In [27]:
x=False
y=False
print(x and y)

False

In [28]:
x=False
print(not x)

True

In [29]:
age=12
if age>=18:
    print("you can vote")
else:
    print("you can't vote")

you can't vote

In [30]:
age=int(input("Enter your age:"))
if age<=15:
    print("child")
elif age>15 and age<25:
    print("medium age ")
else:
    print("Adult person")

medium age

In [31]:
 num = 40
 if num%2==0:
    print("Even")
 else:
    print("Odd")

Even

In [32]:
a=int(input("enter your number"))
if a>0:
    print("+ve")
    if a%2==0:
        print("even +ve number")
    else :
        print("odd +ve number")
else:
    print("0 or -ve number")

+ve
even +ve number

In [33]:
year=int(input("enter Your Year"))
if year%4==0:
    if year%100:
        if year%400:
            print("Its a leap year")
        else:
            print("Not a leap year")
    else:
        print("Not a leap year")   
else:
    print("Not a leap year")

Its a leap year

In [34]:
 num1 = float(input("Enter first number: "))
 num2 = float(input("Enter second number: "))
 operation = input("Enter operation (+, -, *, /): ")
 
 if operation == '+':
    result = num1 + num2
 elif operation == '-':
    result = num1 - num2
 elif operation == '*':
    result = num1 * num2
 elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
 else:
    result = "Invalid operation."
 print("Result:", result)

Result: 30.0

In [35]:
age=int(input("Enter your age:"))
is_stu=str(input("Are you  student?(Y or N)")).lower()
if age<5:
    price=free
elif age<=12:
    price='$12'
elif age<=17:
    if is_stu=='y':
        price='$14'
    else:
        price='$15'
elif age<=64:
    if is_stu=='y':
        price='$24'
    else:
        price='$29'
else:
    price='$50'
print("Ticket Price is", price)

Ticket Price is $24

In [37]:
stored_u='shivam0001'
stored_password='chahar0001'
input_u=str(input("Enter your username:"))                                          
input_password=str(input("Enter your password:"))
if input_u==stored_u:
    if input_password==stored_password:
        print("login successfull")
    else:
        print("password incorrect")
else:
    print("No user found")

password incorrect

In [38]:
#6 loops

In [39]:
range(6)

range(0, 6)

In [40]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [41]:
for i in range(0,8):
    print("Shivam",i)

Shivam 0
Shivam 1
Shivam 2
Shivam 3
Shivam 4
Shivam 5
Shivam 6
Shivam 7

In [42]:
for i in range(1,10,-1):
    print(i)

In [43]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [44]:
name ="Shivam Chahar"
for i in name:
    print(i)

S
h
i
v
a
m

C
h
a
h
a
r

In [45]:
 count=0
 while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [46]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [47]:
for i in range(10):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [57]:
for i in range(15):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13

In [58]:
 n=12  
 sum=0
 count=1
 while count<=n:
    sum=sum+count
    count=count+1
 print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 78

In [59]:
n=11
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [60]:
n=int(input("Enter any number:"))
for i in range(1,11):
    print(f"{n}*{i}={n*i}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [61]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [174]:
#7

In [62]:
fruits=["apple", "banana","cherry","kiwi","gauva"]

print(fruits[0])
print(fruits[1])
print(fruits[4])
print(fruits[-1])

apple
banana
gauva
gauva

In [63]:
fruits[0:4]

['apple', 'banana', 'cherry', 'kiwi']

In [64]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'gauva']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']

In [66]:
fruits[2]

'cherry'

In [67]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [68]:
fruits[1:] = "watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [69]:
fruits[1:3] = "watermelon"
fruits

['apple',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n']

In [70]:
fruits.append("orange")
fruits

['apple',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'orange']

In [71]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [75]:
fruits.remove("apple")
fruits

['watermelon',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'orange']

In [76]:
 popped_fruits=fruits.pop()
 print(fruits)
 print(popped_fruits)

['watermelon', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']
orange

In [79]:
index=fruits.index("w")
print(index)

1

In [80]:
fruits.insert(2,"banana")
fruits

['watermelon',
 'w',
 'banana',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n']

In [81]:
print(fruits.count("banana"))

1

In [82]:
fruits.append("avocado")

In [83]:
fruits.sort()
fruits

['a',
 'avocado',
 'banana',
 'e',
 'e',
 'e',
 'e',
 'l',
 'l',
 'm',
 'm',
 'n',
 'n',
 'o',
 'o',
 'r',
 'r',
 't',
 't',
 'w',
 'watermelon']

In [84]:
fruits.reverse()
fruits

['watermelon',
 'w',
 't',
 't',
 'r',
 'r',
 'o',
 'o',
 'n',
 'n',
 'm',
 'm',
 'l',
 'l',
 'e',
 'e',
 'e',
 'e',
 'banana',
 'avocado',
 'a']

In [85]:
fruits.clear()
fruits

[]

In [86]:
x=[i for i in range(1,11)]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
for number in x:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [88]:
for index, number in enumerate(x):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [89]:
x.count(2)

1

In [90]:
len(x)

10

In [91]:
lst=[]
for x in range(1,11,2):
   lst.append(x**2)
print(lst)

[1, 9, 25, 49, 81]

In [93]:
#8 tuple

In [92]:
 empty_tuple=()
 print(empty_tuple)
 print(type(empty_tuple))

()
<class 'tuple'>

In [94]:
 tpl=tuple()
 print(type(tpl))

<class 'tuple'>

In [95]:
 tpl1 = (1,2,3,4,5)
 print(type(tpl1))

<class 'tuple'>

In [96]:
 lst = [1,2,3,4,5]
 lst

[1, 2, 3, 4, 5]

In [97]:
numbers=tuple(lst)
numbers

(1, 2, 3, 4, 5)

In [98]:
list(numbers)

[1, 2, 3, 4, 5]

In [99]:
 mixed_tuple=(1,"Hello World",3.14, True)
 print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [100]:
numbers

(1, 2, 3, 4, 5)

In [101]:
 print(numbers[3])
 print(numbers[-1])

4
5

In [102]:
numbers[0:4]

(1, 2, 3, 4)

In [103]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [104]:
numbers

(1, 2, 3, 4, 5)

In [105]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [106]:
 concatenation_tuple=numbers + mixed_tuple
 print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [107]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [108]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [48]:
t=1,"Shivam",78
print(t)

(1, 'Shivam', 78)

In [110]:
a,b,c=t
print(a)
print(b)
print(c)

1
Naman
78

In [111]:
 numbers = (1,2,3,4,5,6)
 first, *middle, last = numbers
 print(first)
 print(middle)
 print(last)

1
[2, 3, 4, 5]
6

In [112]:
 lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
 lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

In [113]:
lst[0]

[1, 2, 3, 4]

In [114]:
 lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
 lst

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'Hello', 3.14, 'c')]

In [115]:
lst[2][0:3]

(1, 'Hello', 3.14)

In [116]:
 nested_tuple = ((1, 1, 2, 3, 2), ("a", "b", "c"), (True, False))
 print(nested_tuple[0])
 print(nested_tuple[1][2])

(1, 1, 2, 3, 2)
c

In [117]:
 for sub_tuple in nested_tuple:
     for item in sub_tuple:
         print(item,end=" ")
     print()

1 1 2 3 2
a b c
True False

In [51]:
 student={"name":"Shivam", "age":21, "grade":"A"}
 print(student)
 print(type(student))

{'name': 'Shivam', 'age': 21, 'grade': 'A'}
<class 'dict'>

In [52]:
 student={"name":"Shivam", "age":21, "name":22}
 print(student)

{'name': 22, 'age': 21}

In [53]:
 student={"name":"Shivam","age":12,"grade":'A'}
 print(student)

{'name': 'Shivam', 'age': 12, 'grade': 'A'}

In [121]:
 print(student['grade'])
 print(student['age'])

A
12

In [122]:
print(student.get('grade'))

A

In [123]:
print(student.get('last_name'))

None

In [ ]:
print(student.get('last_name',"Not Available"))

Not Available

In [54]:
 student["age"]=33  
 print(student)

{'name': 'Shivam', 'age': 33, 'grade': 'A'}

In [55]:
 student["address"]="India" 
 print(student)

{'name': 'Shivam', 'age': 33, 'grade': 'A', 'address': 'India'}

In [56]:
del student['grade']
print(student)

{'name': 'Shivam', 'age': 33, 'address': 'India'}

In [57]:
 keys=student.keys()
 print(keys)
 values=student.values()
 print(values)
 items=student.items()
 print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Shivam', 33, 'India'])
dict_items([('name', 'Shivam'), ('age', 33), ('address', 'India')])

In [58]:
 import copy
 student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
 student_copy = copy.copy(student)

In [335]:
student, student_copy

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [337]:
 student['subjects'].append('English')
 print(student)
 print(student_copy)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}

In [341]:
 import copy
 student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
 student_copy2 = copy.deepcopy(student)

In [343]:
student, student_copy2

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [345]:
 student['subjects'].append('English')
 print(student)
 print(student_copy2)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science']}

In [347]:
  for keys in student.keys():
    print(keys)

name
subjects

In [349]:
for value in student.values():
    print(value)

Honey
['Math', 'Science', 'English']

In [351]:

 for key,value in student.items():
    print(f"{key}:{value}")

name:Honey
subjects:['Math', 'Science', 'English']

In [355]:
students={
    "student1":{"name":"Sunny","age":32},
    "student2":{"name":"Peter","age":35}
 }

print(students)

{'student1': {'name': 'Sunny', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [359]:
 print(students["student2"]["name"])
 print(students["student2"]["age"])

Peter
35

In [361]:
students.items()

dict_items([('student1', {'name': 'Sunny', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [363]:
def eveodd(num):
    
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")
eveodd(2)

the number is even

In [59]:
def greet(name):
    print(f"Hello {name} Welcome To the htl")
    
greet("Shivam")

Hello Shivam Welcome To the htl

In [387]:
def print_numbers(*f):
    for number in f:
        print(number)

In [389]:
print_numbers(1,2,3,"king")

1
2
3
king

In [393]:
def print_numbers(*args):
    for i in args:
        print(i)

In [395]:
print_numbers(1,2,3,"King", "Divine")

1
2
3
King
Divine

In [398]:
def sum_of_numbers(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

In [400]:
sum_of_numbers(1,2,3,4,5,6,7,8,9,0)

45

In [61]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [62]:
print_details(name="Shivam",age="21",country="India")

name:Shivam
age:21
country:India

In [63]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [65]:
 print_details(1,2,3,4,"Shivam",name="Shivam",age="21",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Shivam
name:Shivam
age:21
country:India

In [413]:
def multiply(a,b):
    return a*b
multiply(2,3)

6

In [417]:
 addition=lambda a,b:a+b
 type(addition)
 print(addition(5,6))

11

In [419]:
 even1=lambda num:num%2==0
 even1(12)

True

In [424]:
 def addition(x,y,z):
    return x+y+z
 addition(12,13,14)

39

In [426]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [428]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [432]:
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [434]:
 numbers1=[1,2,3]
 numbers2=[4,5,6]
 added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
 print(added_numbers)

[5, 7, 9]

In [436]:
 str_numbers = ['1', '2', '3', '4', '5']
 int_numbers = list(map(int, str_numbers))
 print(int_numbers)

[1, 2, 3, 4, 5]

In [438]:
 words=['apple','banana','cherry']
 upper_word=list(map(str.upper,words))
 print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [66]:
def get_name(person):
    return person['name']
people=[
    {'name':'Shivam','age':32},
    {'name':'Jack','age':33}
      ]
list(map(get_name,people))

['Shivam', 'Jack']

In [449]:
def even(num):
    if num%2==0:
        return True

In [453]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [455]:
 numbers=[1,2,3,4,5,6,7,8,9]
 greater_than_five=list(filter(lambda x:x>5,numbers))
 print(greater_than_five)

[6, 7, 8, 9]

In [457]:
 numbers=[1,2,3,4,5,6,7,8,9]
 even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
 print(even_and_greater_than_five)

[6, 8]

In [459]:
 people=[
    {'name':'Sunny','age':32},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
 ]
 def age_greater_than_25(person):
    return person['age']>25
 list(filter(age_greater_than_25,people))

[{'name': 'Sunny', 'age': 32}, {'name': 'Jack', 'age': 33}]